/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  overflow-x: hidden;
}

main {
  background-color: #f7f7f7;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  content: "";
  background-color: #fff;
}
.btn-green {
  background-color: #55c57a;
  color: #fff;
}
.btn-green::after {
  content: "";
  background-color: #55c57a;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
  margin-bottom: 8rem;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.u-center-text {
  text-align: center;
}

.grid-container {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.grid-container > .composition {
  min-width: 40.5rem;
  padding: 3rem;
  flex: 1 0 45%;
  text-align: justify;
}

.grid-container > .article {
  min-width: 40.5rem;
  padding: 3rem;
  flex: 1 0 45%;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
}

.composition-photo-1 {
  left: 0;
}
.composition-photo-2 {
  right: 3rem;
  top: 100px;
}
.composition-photo-3 {
  left: 20%;
  top: 21rem;
}

.composition-photo:hover {
  transform: scale(1.05) translateY(-5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1.5rem solid #55c57a;
  outline-offset: 2rem;
}

.composition:hover .composition-photo:not(:hover) {
  transform: scale(0.95);
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features .grid-container {
  justify-content: space-evenly;
}

.grid-container .feature-box {
  min-width: 20rem;
  flex: 0 1 22%;
}

.section-features > * {
  transform: skewY(7deg);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
  transition: transfrom, 0.3s;
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.feature-box .heading-tertiary {
  margin-bottom: 1.5rem;
}

.feature-box > ion-icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: #28b485;
}

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem;
}

.section-tours .grid-container {
  justify-content: space-around;
  gap: 5.5rem;
}

.grid-container .card {
  min-width: 25rem;
  flex: 1 1 20%;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
  max-width: 43rem;
}

.card-side {
  width: 100%;
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-front {
  background-color: #fff;
}
.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}

.card-back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card-back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card-picture {
  background-size: cover;
  background-position: center;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.picture-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(../img/nat-5.jpg);
}
.picture-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(../img/nat-6.jpg);
}
.picture-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url(../img/nat-7.jpg);
}

.card-heading {
  width: 75%;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
}

.card-heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.span-1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 187, 0, 0.85),
    rgba(255, 120, 48, 0.85)
  );
}
.span-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.span-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card-details {
  padding: 3rem;
}

.card-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card-details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card-details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card-price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}

.card-price {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card-price-value {
  font-size: 6rem;
  font-weight: 100;
}

.tours-btn {
  text-align: center;
  margin-top: 10rem;
}

.section-stories .u-center-text h2 {
  margin-bottom: 8rem;
}

.section-container {
  max-width: 114rem;
  margin: 0 auto;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.story {
  position: relative;
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  text-align: center;
}

.story:not(:last-child) {
  margin-bottom: 8rem;
}

.story:hover .story-caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story:hover .story-shape > img {
  transform: translateX(-3rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.story > * {
  transform: skewX(12deg);
}

.story-shape {
  display: inline-block;
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  overflow: hidden;
}

.story-shape > img {
  height: 100%;
  transform: translateX(-3rem) scale(1.4);
  transition: all 0.5s;
  backface-visibility: hidden;
}

.story-text .heading-tertiary {
  margin-bottom: 1.5rem;
}

.story-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

.stories-heading {
  position: relative;
}

.bg-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.book-form {
  width: 50%;
  padding: 6rem;
}

.form .heading-secondary {
  margin-bottom: 4rem;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form-input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  transition: all 0.3s;
}

.form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form ::placeholder {
  color: #999;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form-radio-group {
  width: 49%;
  display: inline-block;
}

.form-radio-label {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 4.5rem;
}
.form-radio-input {
  display: none;
}

.form-radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
  transition: all 0.45s;
}

.form-radio-button::after {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
}

.radio-group {
  margin-bottom: 3.5rem !important;
}

.footer {
  background-color: #333;
  padding: 10rem 10rem;
  font-size: 1.4rem;
  color: #f7f7f7;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10rem;
}

.footer-logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer-logo {
  width: 15rem;
  height: auto;
}

.footer-navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: block;
  flex: 1 1;
  /* min-width: 350px; */
  min-width: 200px;
  max-width: 550px;
}

.footer-article {
  flex: 1 1;
  /* min-width: 360px; */
  min-width: 200px;
  max-width: 550px;
}

.footer-list {
  width: 100%;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-item {
  display: block;
  margin: 0.4rem;
  height: 3rem;
}

.footer-link:link,
.footer-link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  background-color: #333;
}

.footer-link:hover,
.footer-link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.footer-copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
}

.navigation-checkbox {
  display: none;
}

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  width: 100vw;
  opacity: 1;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  transform: rotate(-135deg);
  top: 0;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  transform: rotate(135deg);
  top: 0;
}

.navigation-checkbox:checked ~ .navigation-nav .navigation-list {
  visibility: visible;
}

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 1000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}
.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}
.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 990;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  visibility: hidden;
}

.navigation-item {
  margin: 1rem;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 230%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  transition: all 0.4s;
}

.navigation-link:hover,
.navigation-link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}

.navigation-icon {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  position: relative;
  margin-top: 3.5rem;
}

.navigation-icon::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #333;
  position: absolute;
  left: 0;
  top: -0.8rem;
  transition: all 0.2s;
}

.navigation-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0.8rem;
  transition: all 0.2s;
}

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.popup-close {
  color: #777;
  position: absolute;
  top: 0.7rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

.popup-close:hover {
  color: #55c57a;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s 0.2s;
}

.popup-left {
  width: 33.33%;
}

.popup-right {
  width: 66.66%;
  padding: 3rem 5rem;
}

.popup-img {
  display: block;
  width: 100%;
}

.popup-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  /* column-rule: 1px solid #eee; */
  hyphens: auto;
}

.popup-heading-medium {
  margin-bottom: 4rem;
}

.popup-heading-small {
  margin-bottom: 1.5rem;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}
